# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/



# Streamlit specific
.streamlit/secrets.toml

# VS Code config
.vscode/

# MacOS / Linux / Windows junk
.DS_Store
Thumbs.db

# Python environment files
*.env
.env*

# Logs
*.log

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# System files
.idea/
